body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 60%;
    box-shadow: inset 1px 1px 5px -1px rgba(0, 0, 0, 0.78),
                inset -1px -1px 5px -1px rgba(255, 255, 255, 0.75);

    padding: 10px;
    border-radius: 10px;
    margin: 20px
}

.header .title{
    font-size: 35px;
    font-weight: bold;
    box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.78), -1px -1px 5px -2px rgb(255, 255, 255);

    border-radius: 30px;

    padding-left: 60px;
    padding-right: 60px;
}

.header .describe{
    text-indent: 2em;
    width: 90%;
    line-height: 30px;

    padding-top: 10px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    box-shadow: inset 1px 1px 5px -1px rgba(0, 0, 0, 0.78),
    inset -1px -1px 5px -1px rgba(255, 255, 255, 0.75);

    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px
}

.main *{
    margin-bottom: 10px;
}

.chapter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chapter > .title{
    position: sticky;
    top: 10px;

    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.78), -1px -1px 5px -2px rgb(255, 255, 255);
    backdrop-filter: blur(10px);

    border-radius: 30px;

    padding-left: 30px;
    padding-right: 30px;

    transition: 200ms;
}

.chapter > .title:hover{
    cursor: pointer;
    box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.27), -1px -1px 5px -2px rgba(255, 255, 255, 0.48);
    transform: scale(98%);
}

.chapter > .text{
    transition: 200ms;
}

.subchapter > .title{
    font-size: 25px;
    font-weight: bold;
}

.main p{
    text-indent: 2em;
}
.main ol{

    margin-left: 2em;
}
.main .quote{
    color: #494949;
    /*background: rgba(128, 128, 128, 0.29);*/
    padding-left: 0.5em;
    border-left: 2px solid gray;
    margin-left: 2em;
    margin-right: 1em;
}

/*导航条*/

.outline{
    width: 16%;
    /*height: 70%;*/
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.53);
    background: #1b815a;
    position: fixed;
    top: 30%;
    left: 80%;

    /*padding: 0 15px 0 15px;*/
    border-radius: 20px;

    transition: 200ms;
}

.outline > .line {
    height: 8px;
    width: 50%;
    background: rgba(0, 0, 0, 0.47);
    border-radius: 4px;
    margin: 10px auto;

    transition: 200ms;
}

.outline > .line:hover{
    cursor: pointer;
    background: rgb(0, 0, 0);
}

.outline > .text{
    display: flex;
    flex-direction: column;
    align-items: stretch;

    border-left: 2px solid rgba(0, 0, 0, 0.75);
    margin: 1em 1em 1em 1em;
}

.outline > .text > .item, .current-chapter{
    font-size: 20px;
    padding: 0.5em;
    margin: 3px 0.5em;
    transition: 200ms;
    border-radius: 10px;
}

.outline > .text > .item:hover, .current-chapter{
    cursor: pointer;
    background: #7dc994;
    transform: translate(15px, 0);
}