.mgSpace{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;
    background: #19489a;
    border: 1px solid pink;
}

.mgSpace-card{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: 500px;
    /*background: #d3533c;*/
    background-image: url("../res/collection-cover.jpg");
    background-size: 650px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.37);
    border-radius: 0 25px;
    transition: 0.2s;
    z-index: 1;
}
.mgSpace-card .line{
    width: 20px;
    height: 500px;
    background: rgba(38, 199, 199);

    position: absolute;
    z-index: 2;
}
.mgSpace-card .ball{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgb(122, 46, 21);

    position: absolute;
    z-index: 3;
    transition: 0.5s;
}

.mgSpace-card:hover{
    cursor: pointer;
    box-shadow:12px 10px 12px rgba(0, 0, 0, 0.46);
    transform: scale(105%);
}

.mgSpace-card:hover .ball{
    transform: translate(0, -250px) scale(102%);
    background: #94ded8;
}


.bar{
    width: 50px;
    height: 50px;
    background: red;

    position: fixed;
    top: 0;
    left: 0;
}

.mgSpace-text{

}

.navigation{

}

.navigation ul{

}