.collection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection .cover{
    width: 100%;
}

.collection .cover img{
    content: url("../../res/road.jpg");
    display: block;
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.collection .cover .line{
    width: 100%;
    height: 30px;
    background: linear-gradient(#28293f, rgba(255, 255, 255, 0));
}

.collection .information{
    width: 50%;
    background: #abc5d3;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.37);
    /*box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.54), inset 1px 1px 5px rgb(255, 255, 255);*/

}

.collection .information img{
    content: url("../../res/flower.jpg");
    display: block;
    width: 100px;
    height: 100px;
    object-fit: scale-down;

    background: pink;
    border-radius: 5px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.37);
    transform: translate(10px, -60px);
    transition: 0.2s;
}

.collection .information img:hover{
    transform: scale(101%) translate(10px, -65px);
}

.collection .information .title{
    font-size: 40px;
    font-weight: bold;
    font-family: "思源黑体 CN", serif;
    transform: translate(10px, -30px);
}

.collection .information .intro{
    font-size: 20px;
    font-family: "思源黑体 CN", serif;
    text-indent: 2em;
    transform: translate(10px, -10px);
}

.collection .list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.collection .list .item{
    height: 200px;
    width: 50%;
    /*background: #134393;*/
    background-image: url("");
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.29), 1px 1px 10px rgba(255, 255, 255, 0.15);

    border-radius: 10px;
    transition: 0.1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection .list .item .title{
    font-size: 20px;
    font-family: "思源黑体 CN", serif;
    transition: 0.2s;
}

.collection .list .item .index{
    font-size: 20px;
    font-family: "思源黑体 CN", serif;
}

.collection .list .item:hover{
    /*box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.37), inset 1px 1px 15px #ffffff;*/
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.15), 2px 1px 10px rgba(255, 255, 255, 0.05);

    transform: scale(99%) translate(0, 2px);
    cursor: pointer;
}
.collection .list .item:hover .title{
    /*text-indent: 1em;*/
}