body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mgSpace{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    padding-bottom: 20px;
}

/* **************
/* 下面配置欢迎界面
/* ************** */
.mgSpace > .background{
    width: 100%;
    height: 1000px;
    background-image: url("../../res/forest-highway.jpg");
    background-position: 50% 60%;
    position: fixed;
    transition: 300ms;
    z-index: -1;
}
.mgSpace > .hello{
    width: 100%;
    height: 1000px;
}
.mgSpace > .hello > .title{
    width: auto;
    height: auto;
    color: white;

    backdrop-filter: blur(5px);

    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 1;
}
.mgSpace > .hello > .select{
    display: flex;
    align-items: center;
    position: absolute;
    top: 92%;
    left: 90%;
    /*background: red;*/
}
.mgSpace > .hello > .select > .left{
    display: inline-block;
    width: 50px;
    height: 30px;
    background: rgba(224, 218, 218, 0.39);
    border-radius: 50% 5px 5px 50%;

    margin: 10px;
    transition: 200ms;
}
.mgSpace > .hello > .select > .right{
    display: inline-block;
    width: 50px;
    height: 30px;
    background: rgba(224, 218, 218, 0.39);
    border-radius: 5px 50% 50% 5px;

    margin: 10px;
    transition: 200ms;
}
.mgSpace > .hello > .select > .left:hover, .mgSpace > .hello > .select > .right:hover{
    cursor: pointer;
    transform: scale(115%);
}


.mgSpace > .main{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    height: 2000px;
    background: #E5F9DB;

    padding: 50px 0;

    border-radius: 30px;
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.37);
}
.mgSpace > .main > .title{
    width: 100%;
    font-size: 30px;
    text-indent: 2em;
}
.mgSpace > .main > .title:after{
    width: 30px;
    height: 30px;
    background: red;
}

/* **************
/* 我的文集
/* ************** */
.mgSpace > .main > .circulating{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;

    margin: 50px;
}
.mgSpace > .main > .circulating > .card{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: 500px;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.37);
    border-radius: 0 25px;
    transition: 0.2s;
    z-index: 2;
}
/*.mgSpace > .main > .circulating > .card .line{*/
/*    width: 20px;*/
/*    height: 500px;*/
/*    background: rgba(38, 199, 199);*/

/*    position: absolute;*/
/*    z-index: 2;*/
/*}*/
/*.mgSpace > .main > .circulating > .card .ball{*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    border-radius: 50%;*/
/*    border: 5px solid rgb(122, 46, 21);*/

/*    position: absolute;*/
/*    z-index: 3;*/
/*    transition: 0.5s;*/
/*}*/
.mgSpace > .main > .circulating > .card:hover{
    cursor: pointer;
    box-shadow:12px 10px 12px rgba(0, 0, 0, 0.46);
    transform: scale(105%);
}
/*.mgSpace > .main > .circulating > .card:hover .ball{*/
/*    transform: translate(0, -250px) scale(102%);*/
/*    background: #94ded8;*/
/*}*/
.mgSpace > .main > .circulating > .card:nth-child(1){
    background-image: url("../../res/collection-cover.jpg");
}
.mgSpace > .main > .circulating > .card:nth-child(2){
    background-image: url("../../res/城市-海岸-窗户.jpg");
}
.mgSpace > .main > .circulating > .card:nth-child(3){
    background-image: url("../../res/princess.webp");
}


/* **************
/* 最近文章
/* ************** */
.mgSpace > .main > .article{
    width: 90%;
    height: auto;
    margin: 50px 0;
    display: flex;
    align-items: center;
}
.mgSpace > .main > .article > .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    width: 25%;
    height: 100%;
    background: #A2A378;
    padding: 30px 20px;
    border-radius: 50px;
    border: 2px solid #5e5e45;
    transition: 200ms;
}
.mgSpace > .main > .article > .content:hover{
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.48);
}
.mgSpace > .main > .article > .content > li{
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    height: auto;
    padding-left: 10px;
    border-radius: 10px;
    margin: 10px 0;
    transition: 200ms;
}
.mgSpace > .main > .article > .content > li > a{
    color: black;
    text-decoration: none;
}
.mgSpace > .main > .article > .content > li > a:hover{
    color: #1f6bc0;
}
.mgSpace > .main > .article > .content > li:hover,
.mgSpace > .main > .article > .content > .this{
    background: rgba(185, 185, 185, 0.37);
    transform: translate(15px, 0);
}
.mgSpace > .main > .article > .content > li > span{
    width: 0;
    transition: width 200ms, height 500ms;
}
.mgSpace > .main > .article > .content > li:hover > span,
.mgSpace > .main > .article > .content > .this > span {
    float: left;
    width: 5px;
    height: 100%;
    background: #671b1b;
    border-radius: 5px;
    margin-right: 5px;
}
.mgSpace > .main > .article > .content > .this{

}
.mgSpace > .main > .article > .text{
    width: 75%;
    height: 100%;
    background: #A0D8B3;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid #5b7a67;
    margin: 30px;
    transition: 200ms;
}
.mgSpace > .main > .article > .text:hover{
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.48);
}
.mgSpace > .main > .article > .text  p{
    font-size: 20px;
    text-indent: 2em;
}

.mgSpace > .main > .article > .text > div{
    display: none;
    transition: 500ms;
}

.mgSpace > .main > .article > .text > .this{
    display: block;
}

.mgSpace > .main > .leaveWord{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: auto;
}

.mgSpace > .main > .leaveWord > .wall{
    width: 100%;
    height: 400px;
    background: #ffffff;
    border-radius: 50px;
    margin: 20px 0;
}

.mgSpace > .main > .leaveWord > .wall > textarea{
    width: 90%;
    height: 90%;
    padding: 10px;
}

.mgSpace > .main > .leaveWord > .wall > .biu{
    position: absolute;
    top: 100%;
    left: 100%;
    background: red;
    transition: 1000ms;
}

.mgSpace > .main > .leaveWord > label{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 100px;
    background: #A0D8B3;
    margin: 20px 0;
    border-radius: 30px;
}

.mgSpace > .main > .leaveWord > label > button{
    width: 50px;
    height: 50px;
}